<!-- Additional head bits without overriding original head -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/css/academicons.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/fonts/academicons.eot">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/fonts/academicons.svg">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/fonts/academicons.ttf">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/fonts/academicons.woff">

{% seo %}